@import "colors";

@mixin d-flex($direction: row, $content: flex-start, $item: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $item;
}

@mixin buttonArrow() {
  @include d-flex(row, center, center);
  border: none;
  color: $white2;
  font-size: 2.5rem;
  background-color: transparent;
  cursor: pointer;
}

@mixin title() {
  color: $white;
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
}
@mixin title-md() {
  color: $white;
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
}
