@import "colors";

@mixin d-flex(
  $direction: row,
  $content: flex-start,
  $item: stretch,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  flex-wrap: $wrap;
  align-items: $item;
}

@mixin buttonArrow() {
  @include d-flex(row, center, center);
  border: none;
  color: $white2;
  font-size: 2.5rem;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

@mixin input() {
  background-color: $dark-gray;
  border: 1px solid $light-gray;
  color: $white2;
  width: 100%;
  height: 1.5rem;
  padding-inline: 5px;
  outline: none;
}

@mixin title() {
  color: $white;
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
}
@mixin title-md() {
  color: $white;
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
}
@mixin title-s() {
  color: $white;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
}
