@import "mixins";
@import "colors";

.container {
  @include d-flex(row, space-between, center);
  width: 100%;
  padding: 10px 2vw;
  margin-top: 20px;

  .marca {
    @include d-flex(row, center, center);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    position: relative;
    width: 49%;
    height: 95vh;
    cursor: pointer;
    overflow: hidden;
    
    img {
      width: 100%;
      height: 100%;
      filter: brightness(0.6);
      border-radius: 5px;
      object-fit: cover;
      transition: 0.3s;
    }

    div {
      @include d-flex(column, center, center);
      position: absolute;
      h2 {
        @include title-md();
      }

      button {
        width: 120px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid $white2;
        background-color: rgba(0, 0, 0, 0.5);
        color: $white2;
        font-size: 1.3rem;
      }
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
}
